<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo_url %>)">
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "link_title" %>
    </div>
    <% end %>
  </div>
</div>




