<div class="container">
  <h2>New ingredient</h2>

  <div class="form-style">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.order(:name), as: :select %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-submit" %>
    <% end %>
  </div>
</div>