<div class="container form">
  <h2>New ingredient</h2>

  <div class="form-style">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.order(:name), as: :select %>
    <%= f.input :description, input_html: { placeholder: 'Describe the amount of the type of ingredient' } %>
    <%= f.button :submit, class: "btn btn-submit" %>
    <% end %>
  </div>
</div>