.btn-add {
  color: $fontc;
  border: 1px solid $fontc;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-add:hover {
  color: $hover;
}

.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background: #1BCB7F;
  color: white;
}