.navbar-cocktail {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $light-gray;
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.fa-cocktail {
  width: 54px;
  color: $fontc;
}

.brand-title{
  color: $fontc;
}